/* @media */ 
*{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

.hyperlink{
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
    position: sticky;
    align-items: center;
}

.name{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    animation: fadeIn 3s;
}

.desc{
    font-size: 24px;
    animation-name: grow;
    animation-duration: 1s;
}

.footer{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a{
    color: grey;
    text-decoration: none;
}

.links:hover{
    cursor: pointer;
}

a:hover{
    color: black;
    text-decoration: underline;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes grow{
    0%{
        font-size: 0px;
    }
    100%{
        font-size: 24px;
    }

}