@media only screen and (min-width: 900px){
body{
    display: grid;
    grid-template-rows: 50px 350px;
    grid-template-areas:
    "top"
    "myClass";
    font-family: arial;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: top;
    position: sticky;
}
.top p{
    font-size: 15px; /*My Name*/
}
.myClass{
    display: grid;
    justify-items: center;
    align-self: center;
    grid-area: myClass;
    animation-name: fadeIn;
    animation-duration: 2s;
}
.myClass p{
    width: 60%;
}
.bottom{
    display: flex;
    justify-content: space-around;
    grid-area: bottom;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
a{ /* Navigation Links */
    font-size: 15px;
    text-decoration: none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
}

@media only screen and (max-width: 900px){
body{
    display: grid;
    grid-template-rows: 50px 350px;
    grid-template-areas:
    "top"
    "myClass";
    font-family: arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.top{
    display: flex;
    justify-content: space-evenly;
    grid-area: top;
    position: sticky;
    align-items: center;
}
.top p{
    font-size: 20px; /*My Name*/
}
.myClass{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-area: myClass;
    animation-name: fadeIn;
    animation-duration: 2s;
}
.myClass p{
    width: 80%;
    text-align: left;
}

.bottom{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    grid-area: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
}
a{
    font-size: 20px;
    text-decoration: none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
}