/* @media */ 
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 50px 350px 10px;
    grid-template-areas:
    "hyperlink"
    "myClass"
    "footer";
}

.hyperlink{
    display: flex;
    grid-area: hyperlink;
    justify-content: space-evenly;
    position: sticky;
    align-items: center;
}

.name{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.desc{
    font-size: 24px;
    animation-name: grow;
    animation-duration: 1s;
}

.footer{
    font-size: 12px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;

}

a{
    color: grey;
    text-decoration: none;
}

.links:hover{
    cursor: pointer;
}

a:hover{
    color: black;
    text-decoration: underline;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes grow{
    0%{
        font-size: 0px;
    }
    100%{
        font-size: 24px;
    }

}

.myClass{
    display: grid;
    grid-area: myClass;
    justify-items: center;
    align-self: center;
    line-height: 15px;
    animation-name: fadeIn;
    animation-duration: 2s;
}